* {
    display: border-box;
}

p, h1, h2, h3, h4 {
    font-family: 'Roboto';
}

html {
    font-size: 1;
    scroll-padding-top: 100px;
}

a{
    color: inherit;
    list-style: inherit;
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

h2 {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
}

section {
    height: 100vh;
    margin-bottom: 5%;
}

#first {
    background-image: url('../restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    color: white;
    background: #283131;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header p{
    font-weight: 100;
}

footer {
    height: 8%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #283131;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    margin: 1em;

}

footer button,
footer > a,
footer ul {
    margin: 1.5em;
}

footer button {
    margin-left: 5em;
}



button {
    height: 2rem;
}

nav{
    width: 40%;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    text-align: center;
}

#about {
    /* border: 1px solid black; */
    height: auto;
    padding: 0 5%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.trees,
.aboutText {
    flex-grow: 1;
}

img {
    max-height: auto;
    max-height: 80vh;
}

#about p{
    text-align: center;
    font-size: 1.5em;
    margin-right: 2em;
}

#menu {
    /* border: 1px solid black; */
    height: 90vh;
}

#menu p {
    text-align: center;
}
#menu h4{
    text-align: center;
    font-size: 1.5em;
}

#menu li {
    text-align: center;
    margin: 1em;
}

#menu ol li {
    display: inline;
}